@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import "tailwindcss";

@theme{
    --font-oswald: 'Oswald', 'sans-serif';
    --color-cadet: #1F214D;
}

 #root { /* Or your specific root element ID/class */
      height: 100vh;
      display: flex; /* Use flexbox for child layout */
      flex-direction: column; /* Stack children vertically */
    }